<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/listaAlumnos">Mantenimiento Alumnos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/listaCursos">Mantenimiento Cursos</a>
                        </li>          
                    </ul>

                </div>
            </div>
        </nav>

        <div class="row justify-content-center">
            <div class="col-md6 col-lg-4">
                <h2>[[${curso.idCurso ne null ? 'EDITAR CURSO' : 'REGISTRAR CURSO'}]]</h2>

                <br>
                <form action="" method="post" th:object="${curso}">            
                    <div>
                        <label for="nombre" class="form-label">Curso </label>
                        <input id= "nombre" type="text" placeholder="Digite Curso" th:field="*{nombre}" class="form-control" required>                
                    </div>
                    <div>
                        <label for="profesor" class="form-label">Profesor </label>
                        <input id= "profesor" type="text" placeholder="Digite Profesor" th:field="*{profesor}" class="form-control" required>                
                    </div>
                    <div>
                        <label for="email" class="form-label">Seccion </label>
                        <input id= "email" type="text" placeholder="Digite Seccion" th:field="*{seccion}" class="form-control" required>                
                    </div>
                    <div>
                        <label for="fec" class="form-label">Fecha Registro </label>
                        <input id= "fec" type="date" th:field="*{fecReg}" class="form-control">                
                    </div>
                    <br>
                    <div class="text-end">
                        <button class="btn btn-success">Guardar</button>
                        <a href="/listaCursos">Regresar</a>                        
                    </div>


                </form>

            </div>
        </div>     



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
</html>
